body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1db954, #1ed760);
    font-family: 'Arial', sans-serif;
}

.player {
    background: #121212;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    overflow: hidden;
}

.cover-art {
    position: relative;
    height: 250px;
    background-color: #333;
}

.cover-art img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the entire image is visible */
    object-position: center; /* Centers the image within the container */
}

.track-info {
    padding: 20px;
    color: #fff;
}

.track-info h2 {
    font-size: 1.5em;
    margin: 0;
}

.track-info p {
    font-size: 1em;
    color: #b3b3b3;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
}

button {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760;
}

button:active {
    background-color: #1db954;
}

.progress {
    width: 100%;
    padding: 10px;
    background: #333;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #1db954;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1db954;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #1db954;
    border-radius: 50%;
    cursor: pointer;
}
